{% extends 'base.html' %}
{% load customtags %}

{% block main %}
<section class="paper">
  <div class="view">
    <p class="lg-bold">옵션 열람</p>
      <section class="view__sect">
        <p class="lg-bold view__sect__title">정보</p>

        <div class="view__sect__body">
          <div class="view__sect__body__row">
            <p class="md-bold">옵션 유형</p>
            <p class="md-reg">{{ option.get_type_display }}</p>
          </div>
          <div class="view__sect__body__row">
            <p class="md-bold">옵션명</p>
            <p class="md-reg">{{ option.name }}</p>
          </div>
          <div class="view__sect__body__row">
            <p class="md-bold">옵션 가격</p>
            <p class="md-reg">{{ option.price | intcomma }}</p>
          </div>
          <div class="view__sect__body__row">
            <p class="md-bold">사용중</p>
            <p class="sm-reg">{% if is_being_used %}⭕️{% else %}❌{% endif %}</p>
          </div>
        </div>
      </section>
  </div>
</section>

<section class="align both">
  <button class="md-reg btn-normal txt-color-green" onclick="goBack()">뒤로가기</button>
  <div class="view-btn">
    <button class="emoji-btn green" onclick="location.href='{% url 'cakes_options_add' option.id %}'">
      <div class="div_with_emoji">
        <span class="md-reg emoji_mgb04">✍🏽</span>
        <span class="md-reg txt-color-white">수정하기</span>
      </div>
    </button>

    <form method="POST" action="{% url 'cakes_options_delete' option.pk %}">
      {% csrf_token %}
      <button type="submit" class="emoji-btn green">
        <div class="div_with_emoji">
          <span class="md-reg emoji_mgb04">🗑️</span>
          <span class="md-reg txt-color-white">삭제하기</span>
        </div>
      </button>
      <input type="hidden" name="redirect_url" value="{{ referer }}">
    </form>

  </div>
</section>
{% endblock %}