{% extends 'base.html' %}
{% load static %}
{% load customtags %}

{% block script %}
<script src="{% static 'js/products/cookies_products.js' %}" defer></script>
{% endblock %}


{% block main %}
<!-- 검색 섹션 -->
<section class="paper">
  <div class="search">
    <p class="lg-bold">검색</p>
    <!-- 인풋 -->
    <div class="search__mid">
      <div class="search__mid__box">
        <p class="md-bold">상품 유형</p>
        <select name="product_category" id="" class="md-reg search__mid__box">
          <option value="all" class="md-reg" {% if selected_category == 'all' %}selected{% endif %}>선택해 주세요.</option>
          <option value="financier" {% if selected_category == 'financier' %}selected{% endif %} class="md-reg">휘낭시에</option>
          <option value="cakepiece" {% if selected_category == 'cakepiece' %}selected{% endif %} class="md-reg">조각케이크</option>
          <option value="scone" {% if selected_category == 'scone' %}selected{% endif %} class="md-reg">스콘</option>
          <option value="todays-menu" {% if selected_category == 'todays-menu' %}selected{% endif %} class="md-reg">오늘의 메뉴</option>
        </select>
      </div>
    </div>
    <!-- 버튼 -->
    <div class="search__btn align right">
      <button type="button" class="md-reg btn-normal txt-color-green" onclick="location.href='{% url 'cookies_products' 'all' %}'">초기화</button>
      <button type="button" class="emoji-btn green" onclick="getFilteredProducts()">
        <div class="div_with_emoji">
          <span class="md-reg emoji_mgb02">🔍</span>
          <span class="md-reg txt-color-white">검색</span>
        </div>
      </button>
    </div>
  </div>
</section>

<!-- 테이블 섹션 -->
<section class="paper">
  <div class="table">
    <!-- 상단 -->
    <div class="align both table__top">
      <span class="lg-bold">상품 목록</span>
      <button class="emoji-btn green" onclick="location.href='{% url 'cookies_products_add' %}'">
        <div class="div_with_emoji">
          <span class="lg-reg emoji_mgb02">✨</span>
          <span class="md-reg txt-color-white">상품 추가</span>
        </div>
      </button>
    </div>
    <!-- 중단 -->
    <table class="table__table">
      <colgroup>
        <col style="width: 5%;">  <!-- 순서 -->
        <col style="width: 7%;">  <!-- 이미지 -->
        <col style="width: 10%;">  <!-- 상품유형 -->
        <col style="width: 20%;">  <!-- 상품명 -->
        <col style="width: 10%;">  <!-- 가격 -->
        <col style="width: 30%;">  <!-- 상품 설명 -->
        <col style="width: 12%;">  <!-- 기능 -->
      </colgroup>
      <thead>
        <tr>
          <th class="md-bold">번호</th>
          <th class="md-bold">이미지</th>
          <th class="md-bold">상품 유형</th>
          <th class="md-bold">상품명</th>
          <th class="md-bold">가격</th>
          <th class="md-bold">상품 설명</th>
          <th class="md-bold">기능</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td class="md-reg">{{ forloop.counter }}</td>
          <td>
            <img src="/admin_media/{{ product.img }}" alt="" class="table__table__img">
          </td>
          <td class="md-reg">{{ product.get_category_display }}</td>
          <td class="md-reg">{{ product.name }}</td>
          <td class="md-reg">{{ product.price | intcomma }}원</td>
          <td class="md-reg">{{ product.cmt }}</td>
          <td class="">
            <div class="table__table__functions">
              <button class="lg-reg" onclick="location.href='{% url 'cookies_products_view' product.id %}'">👀</button>
              <button class="lg-reg" onclick="location.href='{% url 'cookies_products_edit' product.id %}'">✍🏽</button>
              <button class="lg-reg" onclick="location.href='{% url 'cookies_products_delete' product.id %}'">🗑️</button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- 하단 -->
    <div class="align center">
      <ul class="table__paging">
      {% if products.has_previous %}
        <li class="align center"><button class="lg-bold" onclick="location.href='?page=1'" title="처음으로">👈🏽</button></li>
      {% endif %}

      {% for page_num in products.paginator.page_range %}
        {% if page_num >= products.number|add:-4 and page_num <= products.number|add:4 %}
        {% if page_num == products.number %}
        <li><button class="align center md-reg table__paging__btn active" onclick="location.href='?page={{ page_num }}'">{{ page_num }}</button></li>
        {% else %}
        <li><button class="align center md-reg table__paging__btn" onclick="location.href='?page={{ page_num }}'">{{ page_num }}</button></li>
        {% endif %}
        {% endif %}
      {% endfor %}

      {% if products.has_next %}
        <li class="align center"><button class="lg-bold" onclick="location.href='?page={{ products.paginator.num_pages }}'" title="마지막으로">👉🏽</button></li>
      {% endif %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}