{% extends 'base.html' %}

{% block main %}
<form method="POST" class="column_24">
  {% csrf_token %}
  <section class="paper">
    <p class="lg-bold">픽업시간 {% if time %}수정{% else %}등록{% endif %}</p>
    <section class="form">
      <p class="lg-bold form__title">정보</p>
      <div class="form__group">

        <div class="form__group__elem">
          <div class="gorm__group__elem__sub-title">
            <span class="md-bold">이름</span>
            <span class="md-bold txt-color-orange">*</span>
          </div>
          {{ form.name }}
          {% if form.name.errors %}<span class="sm-reg txt-color-orange mgl4">{{ form.name.errors }}</span>{% endif %}
        </div>

        <div class="form__group__elem">
          <div class="gorm__group__elem__sub-title">
            <span class="md-bold">시간</span>
            <span class="md-bold txt-color-orange">*</span>
          </div>
          <div class="form__group__elem__time">
            <div class="align both">
              {{ form.start }}
              <span class="md-reg">부터</span>
            </div>
            <div class="align both">
              {{ form.end }}
              <span class="md-reg">까지</span>
            </div>
          </div>
          {% if form.start.errors %}<span class="sm-reg txt-color-orange mgl4">{{ form.start.errors }}</span>{% endif %}
          {% if form.end.errors %}<span class="sm-reg txt-color-orange mgl4">{{ form.end.errors }}</span>{% endif %}
        </div>

        <div class="form__group__elem">
          <div class="gorm__group__elem__sub-title">
            <span class="md-bold">간격</span>
            <span class="md-bold txt-color-orange">*</span>
          </div>
          {{ form.interval }}
          {% if form.interval.errors %}<span class="sm-reg txt-color-orange mgl4">{{ form.interval.errors }}</span>{% endif %}
        </div>
        
      </div>
    </section>        
  </section>

  <section class="align both">
    <button type="button" class="md-reg btn-normal txt-color-green" onclick="goBack()">뒤로가기</button>
    <div class="view-btn">
      <button type="submit" class="emoji-btn green">
        <div class="div_with_emoji">
          <span class="md-reg emoji_mgb04">👍🏽</span>
          <span type="submit" class="md-reg txt-color-white">저장하기</span>
          <input type="hidden" name="redirect_url" value="{{ referer }}">
        </div>
      </button>
    </div>
  </section>
</form>
{% endblock %}