{% extends 'base.html' %}
{% block script %}
<style>
.hidden-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
</style>
{% endblock %}

{% block main %}
<ul>
  {% for obj in objs %}
  <li>
    <span>{{ obj.pk }}.</span>
    <span>{{ obj }}</span>
  </li>  
  {% endfor %}
</ul>

<!-- 그냥 폼 -->
<form method="POST" action="{% url 'test2' %}" id="test2Form">
  {% csrf_token %}
  <h1>그냥 폼</h1>
  <div>{{ test_form.name }}</div>
  {% if form.name.errors %}<span>{{ form.name.errors }}</span>{% endif %}

  <button type="button" class="" onclick="checkDays(this)" style="display: flex" data-selected="0">
    <div class="btn-check_off" data-selected="0"></div>
    <span class="md-reg">월요일</span>
  </button>
  
  <button type="button" class="" onclick="checkDays(this)" style="display: flex" data-selected="1">
    <div class="btn-check_off" data-selected="1"></div>
    <span class="md-reg">화요일</span>
  </button>
  <p style="color: red;">{{ test_form.days.errors }}</p>

  <button type="submit" onclick="test2Submit(event)">POST 요청</button>
  {{ test_form.days }}

</form>

<!-- 수동 렌더링 폼 -->
<form method="POST" action="{% url 'test' %}" id="testForm">
  {% csrf_token %}
  <div>{{ form.name }}</div>
  <!-- 요일 -->
  <div class="modal__pickup__body">
    <div class="modal__pickup__body__subtitle">
      <p class="md-bold">예약 요일</p>
      <span class="md-bold txt-color-orange">*</spans>
    </div>
    
    <div class="modal__pickup__body__cnt">
      {% for elem in form.days %}
      <button type="button" class="modal__pickup__body__cnt__checkbox" onclick="checkDays(this)">
        <div class="btn-check_off" data-selected="{{ elem.data.value }}"></div>
        <span class="md-reg">{{ elem.choice_label }}</span>
      </button>
      {% endfor %}
    </div>
    
    <span class="sm-reg txt-color-orange mgl4 display-none" id="checkSelectedMsg">필수 입력값 입니다.</span>
  </div>
  <button type="submit" onclick="submitForm(event)">POST 요청</button>
  <input type="hidden" name="days" id="selectedDays" value="">
</form>

<script>
function checkDays(elem) {
  const checkbox = elem.firstElementChild;

  if (checkbox.classList.contains('btn-check_off')) {
    checkbox.classList.replace('btn-check_off', 'btn-check_on');
  } else {
    checkbox.classList.replace('btn-check_on', 'btn-check_off');
  }
};

function submitForm(event) {
  event.preventDefault();
  let stringSelectedDays = '';
  const checkedBoxes = document.querySelectorAll('.btn-check_on');
  checkedBoxes.forEach(box => {
    stringSelectedDays += ` ${box.dataset['selected']}`
  })

  document.getElementById('selectedDays').value = stringSelectedDays;

  document.getElementById('testForm').submit();
}

function test2Submit(event) {
  event.preventDefault();

  let result = 0;
  const checkedBoxes = document.querySelectorAll('.btn-check_on');
  checkedBoxes.forEach(box => {
    result += parseInt(box.dataset['selected'])
  })
  const id_days = document.getElementById('id_days');
  id_days.value = result;

  const test2Form = document.getElementById('test2Form');
  test2Form.submit();
}

</script>

{% endblock %}