{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>고도화 진행중</title>
  <link rel="stylesheet" href="{% static 'styles/style.css'%}">
</head>
<body>
  <div class="login">
    <section class="paper login__sect">
      <img src="{% static 'images/logo.svg'%}" alt="" class="login__sect__img">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="login__sect__input">
          {% if form.errors %}
          <p class="md-reg txt-color-orange">관리자 아이디와 비밀번호를 확인해 주세요.</p>                
          {% endif %}
          <input type="text" name="username"  class="md-reg search__mid__box__input" placeholder="관리자 아이디">
          <input type="password" name="password" class="md-reg search__mid__box__input" placeholder="관리자 비밀번호">
        </div>
        <div class="login__sect__btn">
          <button type="submit" class="login__sect__btn__btn">
            <span class="lg-bold">✨</span>
            <span class="md-bold txt-color-white">로그인</span>
          </button>
        </div>
      </form>
    </section>
  </div>
</body>
</html>